*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('bg-image.jpg');
    background-size: cover;
    background-position: cover center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

header input{
    width: 100%;
    max-width: 250px;
    padding: 10px 15px;
    border: blue;
    border-radius: 16px 16px 16px 16px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
   
    color: #313131;
    font-size: 20px;
    font-weight: 100;
}

header input:focus {
    background-color: rgba(255, 255, 255, 1);
}

main {
    
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px 25px 50px;
}

.location .city {
    color: #fff;
    font-size: 40px;
   ;
}

.location .date {
    color: #fff;
    font-size: 20px;
}

.current .temp {
    color: #fff;
    font-size: 20px; 
}

.current .weather {
    color: #fff;
    font-size: 20px;  
}

.current .hi-low {
    color: #fff;
    font-size: 20px;
}